---
import { getCollection, type CollectionEntry } from "astro:content";
export async function getStaticPaths() {
    const experimentPages = await getCollection("experiment");
    return experimentPages.map((entry) => ({
        params: {
            slug: entry.slug,
        },
        props: {
            entry,
        },
    }));
}

interface Props {
    entry: CollectionEntry<"experiment">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<h1>{entry.data.name}</h1>
<p>{entry.data.goal}</p>
<Content />
