---
import Basic from "@layouts/basic.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const experiments = await getCollection("experiment");
---

<Basic
    title="Experiments"
    description="Exercises meant to prove, disprove, or test a theory."
>
    <p>Here are the experiments:</p>
    <ul class="grid grid-cols-2">
        {
            experiments.map((experiment) => (
                <li>
                    <a href={`/experiment/${experiment.slug}`}>
                        {experiment.data.title}
                    </a>: {experiment.data.goal}
                </li>
            ))
        }
    </ul>
</Basic>
