---
import { getCollection, type CollectionEntry } from "astro:content";

const experiments = await getCollection("experiment");
---

<p>Here are the experiments:</p>

<ul>
    {
        experiments.map((experiment) => (
            <a href={`/experiment/${experiment.slug}`}>
                {experiment.data.title}
            </a>
        ))
    }
</ul>
