---
import type { CollectionEntry } from "astro:content";

interface Props {
    chapter: CollectionEntry<"chapter">;
}

const { chapter } = Astro.props;
---

<li>
    <a href={`/chapter/${chapter.slug}`}>
        {chapter.data.title}
    </a>
</li>
