---
import Glossary from "@components/glossary.astro";
import BasicLayout from "@layouts/basic.astro";
---

<BasicLayout
	seo={{
		title: "documentation",
		description: "The knowledge base for the powerd6 project.",
	}}
>
	<main>
		<h1>Welcome to the <Glossary term="powerd6" /> documentation pages!</h1>
		<p>This page is the guide for users, <Glossary term="authors" /> and <Glossary term="contributors" />.</p>
	</main>
</BasicLayout>
