---
import Glossary from "@components/glossary.astro";
import BasicLayout from "@layouts/basic.astro";
---

<BasicLayout
	seo={{
		title: "powerd6/documentation",
		description: "The knowledge base for the powerd6 project.",
	}}
>
	<main>
		<h1>Astro</h1>
		<Glossary term="powerd6" />
	</main>
</BasicLayout>
