---
import Glossary from "@components/glossary.astro";
import BasicLayout from "@layouts/basic.astro";
---

<BasicLayout
	title="Documentation"
	description="The knowledge base for the powerd6 project."
>
	<article>
		<h1>Welcome to the <Glossary word="powerd6" /> documentation pages!</h1>
		<p>
			This page is the guide for users, <Glossary word="authors" /> and <Glossary
				word="contributors"
			/>.
		</p>
	</article>
</BasicLayout>
