---
const buildDate = new Date();
---

<footer class="w-full p-8 bg-primary-200">
    <section class="mx-auto max-w-sm text-sm text-primary-900-">
        <p>Made with love by the powerd6 community.</p>
        <p>Last updated: <em>{buildDate.toUTCString()}</em></p>
    </section>
</footer>
