---
interface Props {
    title: string;
    destination: string;
    excerpt?: string;
}

const { title, destination, excerpt } = Astro.props;
---

<article class="rounded-md p-2 text-sm max-w-[15rem] bg-secondary-100" >
    <a class="cursor-alias" href={destination}>
        <header>
            <h1 class="text-lg">{title}</h1>
        </header>
        {excerpt ? <p class="break-words">{excerpt}</p> : ""}
    </a>
</article>
