---
import Search from "astro-pagefind/components/Search";
import { getCollection } from "astro:content";
import SidebarCollapsible from "./sidebar/collapsible.astro";
import { sortByOrder } from "@libs/chapter";

const chapters = await getCollection("chapter");
const experiments = await getCollection("experiment");
---
<style>
    [x-cloak] { display: none !important; }
</style>
<aside class="-order-1" x-data="{open:false}">
    <section
        class="bg-secondary-400 p-4 py-8 transition-all duration-500 fixed md:relative top-0 left-0 h-screen md:h-full w-screen md:w-96 md:max-w-[30vw] flex flex-col justify-center md:block md:translate-x-0"
        x-bind:class="open ? 'translate-x-0' : 'translate-x-full'"
        x-cloak
    >
        <Search />
        <main class="mt-8">
            <ol class="mb-4 flex flex-col gap-4">
                <li><a href="/">powerd6/documentation</a></li>
                <li><a href="/glossary">Glossary</a></li>
            </ol>
            <SidebarCollapsible title="Chapters" startOpen>
                {
                    // TODO: sort this
                    chapters.sort(sortByOrder).map((chapter) => (
                        <li>
                            <a href={`/chapter/${chapter.slug}`}>
                                {chapter.data.title}
                            </a>
                        </li>
                    ))
                }
            </SidebarCollapsible>
            <SidebarCollapsible title="Experiments">
                {
                    // TODO: sort this
                    experiments.map((experiment) => (
                        <li>
                            <a href={`/experiment/${experiment.slug}`}>
                                {experiment.data.title}
                            </a>
                        </li>
                    ))
                }
            </SidebarCollapsible>
        </main>
    </section>
    <button
    class="p-1 w-14 aspect-1 fixed top-2 right-2 md:hidden text-sm"
    x-bind:class="open ? 'bg-secondary-500' : 'bg-secondary-400'"
        x-on:click="open = ! open"
        x-text="open ? 'Hide Menu' : 'Show Menu'">Show Menu</button
    >
</aside>
