---
interface Props {
    title: string;
    titleLink?: string;
    startOpen?: boolean;
}

const { title, startOpen = false } = Astro.props;
---

<nav x-data={`{open:${startOpen}}`}>
    <h1 class="py-2" x-on:click="open = ! open">{title}</h1>
    <ol
        class="transition-all duration-300 ml-8 max-h-0 overflow-y-auto"
        x-bind:class="open ? 'max-h-96' : ''"
    >
        <slot>
            <p>
                If you see this text, then the page using this was not
                constructed correctly.
            </p>
            <p>Developer: Make sure you are filling this slot.</p>
        </slot>
    </ol>
</nav>
