---
import Glossary from "@components/glossary.astro";
import Article from "@layouts/article.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { glossaryHasLongFormExplanation } from "src/content/glossary/_";
export async function getStaticPaths() {
    const glossaryPages = await getCollection("glossary");
    return glossaryPages
        .filter(glossaryHasLongFormExplanation)
        .map((entry) => ({
            params: {
                slug: entry.slug,
            },
            props: {
                entry,
            },
        }));
}

interface Props {
    entry: CollectionEntry<"glossary">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Article
    seo={{
        title: entry.data.term,
        titleTemplate: "%s - glossary - powerd6/documentation",
        description: entry.data.definition,
    }}
>
    <h1><Glossary term={entry.data.term} /></h1>
    <Content />
</Article>
