---
import { type Props as SeoProps } from "astro-seo";
import Basic from "./basic.astro";

interface Props {
    seo: SeoProps;
}
const { seo } = Astro.props;
---

<Basic seo={seo}>
    <slot name="page-head" slot="page-head" />
    <main class="container mx-auto p-4">
        <slot />
    </main>
    <slot name="post-body" slot="post-body" />
</Basic>
