---
import Header from "@components/header.astro";
import Metadata from "@components/metadata.astro";

interface Props {
    title?: string;
    description?: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
    <head>
        <Metadata {...Astro.props} />
        <slot name="page-head" />
    </head>
    <body>
        <Header title={title} />
        <aside>
            <p>Aside</p>
        </aside>
        <main class="container mx-auto p-4 prose">
            <slot>
                <p>
                    If you see this text, then the page using this was not
                    constructed correctly.
                </p>
                <p>Developer: Make sure you are filling this slot.</p>
            </slot>
        </main>
        <footer>
            <p>Footer</p>
        </footer>
        <slot name="post-body" />
    </body>
</html>
