---
import Article from "@layouts/article.astro";
import { getCollection, type CollectionEntry } from "astro:content";
export async function getStaticPaths() {
    const chapters = await getCollection("chapter");
    return chapters.map((entry) => ({
        params: {
            slug: entry.slug,
        },
        props: {
            entry,
        },
    }));
}

interface Props {
    entry: CollectionEntry<"chapter">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Article
    seo={{
        title: entry.data.title,
        description: entry.data.excerpt,
    }}
>
    <h1>{entry.data.title}</h1>
    <Content />
</Article>
